/*--------------------------------------------------------------------- File Name: style_chalk.css ---------------------------------------------------------------------*/
/* Margin moves the entire object relative to others.
/* Padding affects only the content within the element and does not move the element itself.

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

/* Rock Salt, Poetsen One, Bodoni Moda*/
body {
  font-family: "Zain", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}

/* removes blank white gaps at the edges of the top and bottom banners */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

/* Scroll Bar */
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 0px; /* Rounded corners */
  background-color: #dfc8aa;
  visibility: visible; /* Ensure visibility */
}

/* Used to initially disable scrolling */
.no-scroll {
  overflow: hidden; /* Prevent scrolling */
}
/*---------------------------------------------------------------- preloader area ---------------------------------------------------------------------*/

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background-image: url('../images/grid.png');
  background-size: cover; /* Makes the image cover the entire body */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  width: 100%;
  height: 100%;
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  border: 0; /* Remove any default border */
  top: 0; /* Ensure it starts from the top */
  left: 0; /* Ensure it starts from the left */
  box-sizing: border-box; /* Ensure borders and padding are included in width/height */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#dfc8aa;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#894E30;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

/*---------------------------------------------------------------- ROW area ---------------------------------------------------------------------*/
  /* These have already been applied with 'row' in boostrap but for explanation
  1) When applied to a container, it makes all direct children of the container flex items, 
  which means their positioning and size will now be controlled by Flexbox rules.
  display: -ms-flexbox;
  display: flex;
  2) allows the flex items to wrap onto a new line if there's not enough space in the container.
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  */
.row_top_banner {
  background-color: #dfc8aa;
  height: 18px;
  margin-right: 0px;
  margin-left: 0px;
}

.row_menu2 {
  background-color: #ffffff;
  height: 1000px;
  margin-right: 0px;
  margin-left: 0px;
  /* Vertically centers the boxes inside of the row */
  align-items: center; 
}

.row_body {
  background-color: #ffffff;
  margin-right: 0px;
  margin-left: 0px
}

.row_bottom {
  background-image: url('../images/checkard_2.png');
  background-size: cover; /* Ensures the image covers the entire container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  height: 100px;
  margin-right: 0px;
  margin-left: 0px;
}

.row_bottom2 {
  height: 1000px;

}

/*---------------------------------------------------------------- COLUMN area ---------------------------------------------------------------------*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 2.5px;
  padding-left: 2.5px;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------------------------------- BLOCKS area ---------------------------------------------------------------------*/
.blocks_menu {
  background-color: #ffffff;
  border-radius: 8px; /* Rounded edges */
  /*border: 2px solid black;*/
  width: 100%;
  height: 100%;
  display: flex;             /* Makes it a flex container */
  justify-content: center;   /* Centers horizontally */
  align-items: center;   
  box-sizing: border-box;
}

.blocks_menu2 {
  background-color: #ffffff;
}

.blocks_menu img {
  height: 55px;
}

.blocks_menu2 img {
  height: 35px;
}

.blocks {
  display: flex;
  flex-direction: column; /* Arranges child elements in a vertical (column) layout */
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center; /* Centers child elements horizontally */

  background-color: #dfc8aa;
  color: #000000;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}

.blocks_button {
  background-color: #ffffff;
  flex-direction: row;
}

.blocks img {
  width: 100%; /* Logo width adjusts to screen size */
}

.blocks_button img{
  background-color: #ffffff;
  vertical-align: top;
  margin-left: 5px ;
  width: 10%;
}

/* Popup Window Styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #dfc8aa;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  font-size: 16px;
}


/*---------------------------------------------------------------- Block features (Table titles,  Dropdown menus, Input boxes) area ---------------------------------------------------------------------*/

/* Dropdown Container */
.dropdowns {
  display: flex;
  align-items: center; /* Aligns text to the bottom */
  justify-content: center; /* Centers text horizontally */
  text-align: center;

  background-color: #dfc8aa; /* White background */
  color: #ffffff; /* Text color */
  border-radius: 6px; /* Rounded edges */
  font-size: 14px;
  gap: 6px;

  width:100%;
  height: 100%;
  padding: 0.3rem;
  margin: 0px;
}

/* Style for Dropdown Menus */
.dropdowns select {
  font-size: 14px;
  text-align: center;
  background-color: #dfc8aa; /* White background */
  border: 1px solid #dfc8aa; /* Remove black border or customize it */
  border-radius: 6px; /* Rounded edges */
  appearance: none; /* Hides default browser styling */
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  line-height: 1; /* Ensures no extra space inside dropdowns */
  font-weight: bold; /* Makes text bold */
  
  width:90%;
  height: 100%;
  padding: 0.1rem;
}

/* Dropdown Hover & Focus Effect */
.dropdowns select:hover,
.dropdowns select:focus {
  background-color: #894E30; /* Background color on hover/focus */
  border-color: #894E30; 
  color: #ffffff; /* Text color */
}

/* Dropdown Scrollbar */
.dropdowns select::-webkit-scrollbar {
  width: 10px;
}
.dropdowns select::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dfc8aa;
  visibility: visible;
}
.dropdowns select::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/*---------------------------------------------------------------- Text websocket input area ---------------------------------------------------------------------*/


/* Input Block ------------------------------------------------------------------------------- */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns label and dropdown to the left */

  gap: 0px; /* Adds small spacing between label and dropdown */
  background-color: #ffffff; /* White background */
  border-radius: 6px; /* Rounded edges */

  width:100%;
  height:100%;
  margin-bottom: 5px;
}

.dropdown-container2 {
  margin-bottom: 0px;
}


.custom-label {
  display: flex;
  align-items: flex-center;
  justify-content: center; /* Centers text horizontally */

  font-size: 20px;
  font-weight: bold;
  color: #000000;
  pointer-events: none;
  background-color: #ffffff;
  border-radius: 6px; /* Rounded edges */

  width: 50%; /* Ensures it takes full width of the container */
  height: 20%; /* Ensures it takes full height of the container */
  padding-bottom: 13px;
}

.model_button {
  padding: 2px;
  background: #894E30; /* Background of meter */
  font-family: "Rock Salt", serif;
  border: none; /* Removes the border */
  border-radius: 6px; /* Rounds the corners */
  font-size: 16px;
  color: #ffffff;
  align-self: flex-start;
  white-space: nowrap; /* keeps 'historical games' on one line */
}
  
/* Hover effect */
.model_button:hover {
  background: #713C24; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarges the button */
}

/* Click effect: add a slight press-down effect */
.model_button:active {
  transform: scale(0.95);
}

/* Remove focus outline */
.model_button:focus {
  outline: none;
  box-shadow: none;
}

/* Results Block ------------------------------------------------------------------------------- */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the elements */
  justify-content: center;

  background-color: #dfc8aa;

  width: 100%;
  height: 100%;
  padding: 5px;

}

.results-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */

  overflow: auto; /* Enables scrolling if needed */

  background-color: #dfc8aa;
  width: 100%;
  height: 100%;
  padding: 5px;
}

/* Meter --------------------------------------------------------- */
.custom-meter {
  width: 100%; /* Ensure the meter fills the width */
  height: 40px; /* Adjust height as needed */
}

.custom-meter::-webkit-meter-bar {
  background: #dfc8aa; /* Background of meter */
}

.custom-meter::-webkit-meter-optimum-value {
  background: #894E30; /* Color of the bar */
}

.custom-meter::-moz-meter-bar {
  background: #000000;
}

/* Error messege ------------------------------------------------- */
.error-message {
  color: #000000;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}

.model-message {
  color: #000000;
  font-weight: bold;
  margin: 0px 0;
  font-size: 20px;
}

/*---------------------------------------------------------------- TABLE area ---------------------------------------------------------------------*/
/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between; /* Space title and dropdowns */
  align-items: center; /* Ensures vertical centering */

  background-color: #dfc8aa;
  border-radius: 10px; /* Rounded corners */

  width: 90%;
  margin-bottom: 6px;
  padding: 0px; /* Added padding for consistent spacing */
}

.header-container2 {
  display: none; /* Hide initially */
}

/* Title Styling */
.title_table {
  text-align: center;
  white-space: nowrap; /* keeps 'historical games' on one line */

  background-color: #dfc8aa; /* White background */
  font-size: 22px;
  font-weight: bold; /* Makes text bold */
  border-radius: 6px; /* Rounded edges */
  color: #000; /* Text color */
  text-transform: capitalize;

  height: 100%; /* Ensures title fills the container height */
  padding: 0.1rem;
  margin: 0px;

}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-center; /* Aligns text to the bottom */
    /*flex-grow: 1; /* Fills remaining space inside .blocks */
  overflow: auto; /* Enables scrolling if needed */

  background-color: #ffffff; /* White background */
  border-radius: 10px; /* Rounded corners */

  width: 100%;
  padding: 6px;
}


.table-wrapper2 {
  flex-direction: column;
}

.table-wrapper_hidden {
    display: none; /* Hide initially */
}

.table-wrapper_hidden2 {
  background-color: #ffffff; /* White background */
  overflow: auto; /* Enables scrolling if needed */
}

table {
  border-collapse: collapse;
  border-radius: 6px 6px 6px 6px; /* Rounded corners for the box */
  table-layout: auto; /* Allows column width to adjust to content */
  color: #212529;

  width: 100%;
  margin-right: 0rem;
}

.table_tan {
  width: 100%;
  max-height: fit-content;
  color: #212529;
  background-color: #ffffff;  
  overflow: auto;   /*Adds scrollbars if the content exceeds the container’s size.*/
  overflow: overlay;   /*Allows content to scroll over the translucent background instead of resizing it.*/
  padding-right: 4px;     /* space between the table and the scrollbar */
  border-radius: 6px 6px 6px 6px ;
}
 
.table_tan::-webkit-scrollbar{
  width: 8px;
  height: 0.5rem; /* rem is the size as a proportion of the font size */ 
  background-color: #ffffff;

  
}

.table_tan::-webkit-scrollbar:vertical{
  width: 8px;
  height: 0.5rem; /* rem is the size as a proportion of the font size */ 
  background-color: #ffffff;
  border-radius: 0 6px 6px 6px;
}

.table_tan::-webkit-scrollbar-thumb{
  border-radius: 6px 6px 6px 6px; /* Rounded corners for the box */
  background-color: #dfc8aa;
  visibility: visible;
}

.table_tan::-webkit-scrollbar-thumb:horizontal{
  border-radius: 6px 6px 6px 6px; /* Rounded corners for the box */
  background-color: #dfc8aa;
  visibility: visible;
}

/* All Cells */
table, td {
  border-top: 0px solid #dee2e6;
  border-bottom: 0px solid #dee2e6;
  border-radius: 6px; /* Rounded corners for the box */
  padding: 0.2rem;   /* Adds padding inside table cells. */
  text-align: center; /* Center text horizontally */
  vertical-align: top;
  margin: 0;  /* Remove any margin */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Head */
thead, th {
  position: sticky;   /*Keeps table headers fixed at the top when scrolling.*/
  top: 0;   /* Defines the position of sticky headers. */
  left: 0;
  background-color: #dfc8aa;
  text-transform: capitalize;
  border-radius: 0px; /* Rounded corners for the box */
  vertical-align: bottom;
  margin: 0;
  padding: 0.5rem;
}

/* Head */
thead {
  background-color: #dfc8aa;
}

thead th:first-child {
  border-radius: 6px 0 0 0; /* Top-left corner rounded */
}

thead th:last-child {
  border-radius: 0 6px 0 0; /* Top-left corner rounded */
}

tbody tr:hover {
  background-color: #dfc8aa !important;
}

/* Adjust column width dynamically */
td, th {
  width: 1px; /* Ensures the column only expands as needed */
  min-width: max-content; /* Minimum width based on content */
}










